{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ if eq .Section "posts" }}

    {{ $pages := where .Site.RegularPages "Type" "posts" }}
    {{ $paginator := .Paginate $pages.ByDate 10 }}
    {{ range $paginator.Pages }}
      <h2><a href="{{ .RelPermalink }}" class="summary-title">{{ .LinkTitle }}</a></h2>
      <h3 class="summary-date">{{ .Date | dateFormat "January 2, 2006"}}</h3>
      <div class="summary-content">
        {{ .Summary }}
      </div>
      <h3><a href="{{ .RelPermalink }}"  class="read-more">Read More</a></h3>
    {{ end }}
    {{ template "_internal/pagination.html" . }}

  {{ else if eq .Kind "taxonomy"}}
    <div class="tag-list">
      {{- $termCount := len (where .Pages "LinkTitle" "!=" "" ) }}
      {{- range $index, $item := .Pages }}
        <a href="{{ $item.RelPermalink }}">{{ $item.LinkTitle }}</a>
        {{ if lt (add $index 1) $termCount }},{{ end }}
      {{ end }}
    </div>

  {{ else }}
    {{ range .Pages }}
      <li class="list-others"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}

  {{ end }}
{{ end }}