*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #111111;
  color: #7bff23a6;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  margin: 10px;
  max-width: 100%;
  display: grid;
  justify-content: center;
}

header {
  border-bottom: 1px;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px;
}

a {
  color: rgba(239, 255, 235, 0.685);
  text-decoration: none;
}

pre {
  white-space: pre-wrap;
  word-break: keep-all;
  word-wrap:  break-word;
  overflow-x: auto;
  padding: 15px;
  margin: 0;
  border-radius: 5px;
  background-color: #1e1e1e;
  max-width: 100%;
  box-sizing: border-box;
}

code {
  overflow-x: auto;
  display: inline-block;      
  border-radius: 3px;
  font-size: 0.95em;
  vertical-align: middle;
  color: #7bff23a6;
}

.code-wrapper {
  overflow-x: auto;
  padding: 0px;
  border: 0.5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  word-break: break-all;
  border: 1px solid #fbfff9;
}

th, td {
  padding: 8px;
  text-align: left;
}

.content, .container {
  max-width: 100%;
  overflow-x: hidden;
  padding: 10px;
  margin: 0 auto;
}

.container {
  display: flex;
  margin: 10px auto;
  max-width: 1200px; 
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.main-menu {
  font-size: 20px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: -30px;
  margin-top: 20px;
}

.main-menu li {
  margin-right: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px 10px;
}

.content {
  background-color: rgb(32, 32, 32);
  flex: 3.5;
  float: left;
  width: 70%;
  padding: 25px;
  margin-right: 10px;
  min-height: 1000px;
  max-height: auto;
  overflow: auto;
}

.sidebar {
  flex: 1;
  font-size: larger;
  padding-left: 15px;
  float: right;
  width: 30%;
  max-width: auto;
  max-height: auto;
}

.copyright {
  margin-left: 15px;
  margin-top: -5px;
}

.tag-list {
  font-size: 20px;
}

.container {
  font-size: smaller;
}

ul.sidebar-links {
  list-style-type: none;
  padding: 0;
  display: flex;
}

ul.sidebar-link li {
  display: inline-block;
}

.sidebar-title {
  font-size: 17px;
  color:rgb(95, 243, 9)
}

.list-others {
  font-size: 20px;
}

.summary-title {
  color:rgba(255, 255, 255, 0.945)
}

.summary-date {
  margin-top: -15px;
  margin-bottom: 25px;
  font-size: 12px;
  color: rgba(253, 255, 253, 0.849);
}

.summary-content {
  color: rgba(255, 255, 255, 0.692);
  font-size: 16px;
}

.read-more {
  font-size: 17px;
  font-weight: lighter;
  color: rgba(126, 255, 5, 0.74);
}

.post-list {
  font-size: medium;
  color: rgb(237, 255, 224);
}

.post-list a {
  color: rgba(134, 255, 110, 0.719);
}

.post-meta {
  margin-top: -10px;
  margin-bottom: 30px;
}

.post-time, .post-author {
  font-size: 17px;
  font-weight: bolder;
}

.post-time {
  color: rgba(213, 3, 255, 0.637);
}

.post-author {
  color: rgb(251, 243, 255)
}

.post-content {
  color: rgba(255, 255, 255, 0.692);
  font-size: 17px;
  max-width: 100%;
}

.post-content img {
  max-width: 100%;
  height: auto;
}

.post-content a {
  word-break: break-all;
}

.about-title {
  color: #7bff23a6;
  font-size: 25px;
}

.about-content {
  color: rgba(255, 255, 255, 0.692);
  font-size: 18px;
}

.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 20px;
}

.page-link {
  color: rgb(237, 255, 224);
  padding: 10px 15px;
}

.page-item.active .page-link {
  color: rgb(110, 255, 129);
}

@media screen and ((max-width: 1000px) or (max-width: 1200px)) {
  
  .container {
    flex-direction: column;
    margin: auto;
  }

  .sidebar, .content {
    width: 100%;
    padding: 10px;
  }

  .sidebar {
    order: -1;
    margin-bottom: 5px;
  }

  .content {
    width: 100%;
    margin-right: 0;
    padding: 10px;
  }
  
  .code-wrapper {
    height: auto;
    width: 85vw;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow-x: auto;
    overflow-y: auto;
  }
}

@media screen and (max-width: 800px) {
  .code-wrapper, .post-content, .about-content, .copyright {
    font-size: medium;
  }
}